/***** BASE STYLES *****/

body {
font-size: 100%;
font-family: 'EB Garamond', serif;
background-color: #EEF8F9;
margin: auto;
width: 1200px;
}

h1, h2, h3, h4, h5, h6, p {
  color: #1C1B22;
}



/***** GRID *****/

.full-width {
  width: 1200px;
  padding: 10px;
  margin: auto;
  float: left;
}

.half-width {
  width: 520px;
  padding: 10px;
  float: left;
  margin: auto;
}

.third-width {
  width: 373px;
  padding: 9px;
  float: left;
  margin: auto;
}

/***** HEADER *****/
header .full-width {
  height: 100px;
  float: left;
  padding: 20px 20px 50px 20px;
  margin: 0 20px;
}

header .full-width {
  background-color: #5BA4CE;
}

.logo {
  color: #0A3847;
  float: left;
  font-family: 'Monoton', sans-serif;
  font-size: 1.5em;
  border: 3px solid black;
  margin: 0 0 0 30px;
  padding: 0 15px;
  text-align: left;
}
  
nav {
  float: right;
  border: 
  margin: 
  padding: 
}
  
nav ul li {
  display: inline-block;
  padding: 15px;
  list-style: none;
  font-weight: bold;
  font-variant: small-caps;
  font-size: 1.5em;
}
#header--title .full-width  {
  height: 50px;
  background-color: #78B4D6;
}
#header-title {
  padding-bottom: 40px;
}

#header-title h1 {
  font-family: 'Benguiat', serif;
  text-align: center;
  font-size: 3em;
  padding-bottom: 30px;
}

/***** ABOUT *****/
#about .full-width: {
  height: 400px;
  padding: 30px 20px;
  background-color: #96C5DF;
  margin: 20px;
}
#about h2, h3, h4 {
  text-align: center;
}
#about p {
  font-size: ;
  color: ;
  text-align: center;
  line-height: 40px;
  padding-right: 50px;
}

/***** SKILLS *****/
#skills .full-width {
  height: 300px;
  text-align: center;
  background-color: #72A93E;
  margin: 50px 20px 30px 20px;
  padding: 20px;
}
#skills .third-width {
  padding: 
}
#skills h4 {
  font-size: 
  width:
  margin: 0 auto;
  text-align: center;
}
#skills p {
  font-family: 
  font-size:
  line-height:
  color: 
  padding: 0 35px;
  text-align: center;
}

/***** WORK *****/
#work .full-width {
  height: 600px;
  padding: 20px;
  text-align: center;
  margin: 20px;
  
}
#work .third-width {
  padding: 
}
#work h2 {
  font-variant: small-caps;
  font-weight: bold;
}
#work h4 {
  font-size: 
  width:
  margin: 0 auto;
  text-align: center;
}
#work p {
  font-family: 
  font-size:
  line-height:
  color: 
  padding: 0 35px;
  text-align: center;
}
/***** CONTACT *****/
#contact .full-width {
  height: 200px;
  padding: 20px;
  margin: 50px 20px 20px 20px;
  background-color: #AF3314;
}
#contact .half-width {
  text-align: left;
  float: left;
}
#contact h2 {
  font-variant: small-caps;
  font-weight: bold;
  color: #EEF8F9;
  text-shadow: 2px;
}

#contact h5 {
  font-family: 'Benguiat', serif;
  font-weight: bold;
  text-align: left;
  color: #EEF8F9;
  text-shadow: 2px;
}
#contact p {
  font-weight: bold;
  text-align: left;
  color: #EEF8F9;
  text-shadow: 2px;
}
#contact ul {
  border: 5px;
  margin: 15px 5px 5px 5px;
  padding: 5px;
  color: #EEF8F9;
}
#contact ul li {
	display: inline-block;
  list-style: none;
  text-align: center;
  padding: 30px 10px 10px 10px;
  margin: 10px;
  text-shadow: 2px;
}

a: link {
	color: green;
}
a: visited {
	color: purple:
}
a: hover {
	color: white;
}
